

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.containerTexte {
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgb(194,211,254);
    width: 90vw;
    justify-content: center;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

.containerTexte h1 {
    margin: 100px;
    text-decoration: underline;
    font-size: 40px;
    font-family: sans-serif;

}

.containerTexte h2 {
    margin: 50px;
    font-size: 30px;
    text-decoration: underline;
    font-family: sans-serif;
}

.containerTexte p {
    font-weight: 545;
    font-family: Arial, serif;
    font-size: 25px;
    line-height: 40px;
}

.FondBleuClaire {
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(194,211,254);
    width: 100%;
    height: 100px;
}

.FondBleuFoncer {
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(106,121,255);
    width: 90vw;
    height: 50px;
}

.Parent{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.footer {
    margin-top: 20px;
}

.LiensFooter{
    color: white;
    text-decoration: none;
    margin: 50px;
}