/*Responsive*/

@media (max-width: 1206px) {

    .LogoForum{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        margin-left: 10px;
    }

    .Connexion{
        display: none;
    }

    .LiensDéconnexion{
        display: none;
    }

    .Options{
        display: block;
    }

    .ImageOptions{
        width: 70px;
        height: 70px;
    }
}