body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0%;
    margin: 0%;
    background-color: rgb(179, 179, 179);
} 

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(70, 70, 70);
    width: 100vw;
    height: 15vh;
    border: solid black 1px;
    position: fixed;
    top: 0px;
    z-index: 3;
}

.TitreForum{
    text-align: center;
    color: white;
}

h1{
    color: white;
}

.LogoForum{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 20px;
}

.Connexion{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.LogoConnexion{
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.LiensDéconnexion{
    background-color: rgb(70, 70, 70);
    color: white;
    text-decoration: none;
    padding: 10px 25px;
}

.ImageDéconenxion{
    width: 80px;
    height: 80px;
}

.Parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20vh;
    left: 10vw;
    overflow: hidden;
}

.ParentIndex{
    display: flex;
    position: relative;
    top: 20vh;
    left: 10vw;
    overflow: hidden;
    width: 80vw;
    height: 100vh;
}

/*Navbar Left*/

.NavbarLeft{
    background-color: rgb(123, 123, 123);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 15vh;
}

.TexteNavbar{
    margin: 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}

.retourAceuil {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(123, 123, 123);
    color: white;
    font-size: 20px;
    text-decoration: none;
    width: 50vw;
    padding: 10px;
    margin: 20px;
    border: 2px solid rgb(70, 70, 70);
}

/*Topics*/

.TiterSujet{
    color: rgb(70, 70, 70);
}

.TitreDernierMessages{
    color: rgb(70, 70, 70);
}

.ParentTopics{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    overflow: hidden;
    margin-right: 20px;
}

.ParentTopics2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    overflow: hidden;
}

.ParentDernierMessages{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    height: 100vh;
    margin-top: -25px;

  }

.LiensTopics{
    text-decoration: none;
    color: white;
}

.Topics2{
    background-color: rgb(70, 70, 70);
    width: 40vw;
    height: 30vh;
    color: white;
    margin-bottom: 20px;
}

.Topics{
    background-color: rgb(70, 70, 70);
    width: 70vw;
    height: 30vh;
    color: white;
    margin: 20px 0px;
}

.ParentTitreTopics{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 10vh;
}

.TitreTopics{
    color: white;
    font-size: 30px;
    width: 25vw;
    height: 10vh;
}

.MessagesTopics{
    width: 30vw;
    height: 110vh;
    margin-left: 70px;
}

.DatesHeuresTopics{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

.DatesHeuresTopics h1 {
    height: 35px;
}

.Répondre{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(123, 123, 123);
    border: 1px solid rgb(70, 70, 70);
    width: 100px;
    height: 30px;
}

.ParentRéponse{
    background-color: rgb(70, 70, 70);
    width: 70vw;
    height: 30vh;
    color: white;
    margin: 10px;
}

.TitreRéponseAuteur{
    color: white;
    font-size: 30px;
    margin-right: 30px;
}

.Réponse{
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.Réaction{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.Like{
    width: 60px;
    height: 60px;
}

.Dislike{
    width: 45px;
    height: 45px;   
}

/*Nouveau messages*/

.inputtext{
    background-color:rgb(70, 70, 70);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 30vh;
}

[name=newmsg]{
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color: rgb(123, 123, 123);
    width: 50vw;
    height: 10vh;
}

button.EnvoieNouveauxMessages{
    background-color: rgb(123, 123, 123);
    color: white;
    border: 2px solid rgb(70, 70, 70);
    margin: 10px;
    padding: 10px;
}

.RetourTopics{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(123, 123, 123);
    color: white;
    font-size: 20px;
    text-decoration: none;
    width: 50vw;
    padding: 10px;
    border: 2px solid rgb(70, 70, 70);
}

/*Page CGU*/

.CGU{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 5vh;
    background-color: rgb(123, 123, 123);
    border: 2px solid rgb(70, 70, 70) ;
    padding: 20px;
    width: 60vw;
    height: 90vh;
}

.TexteCGU{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 55vh;
    color: white;
    overflow: hidden;
}

/*L'équipe Photo */

.ParentImageEquipe{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(123, 123, 123);
    width: 70vw;
}

.ImageEquipe{
    width: 300px;
    height: 450px;
    margin: 20px;
}

.NomEquipe{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 130px;
}

.Nom{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 10vh;
}

.ParentNomEquipe{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(70, 70, 70);
    color: white;
}

/*L'équipe Présentation */

.ParentPrésentationEquipe{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(123, 123, 123);
    width: 70vw;
    height: 20vh;
    margin: 20px 0px;
}

.DescriptifPrésentationEquipe{
    display: flex;
    align-items: center;
    width: 70vw;
    height: 20vh;
    overflow: auto;
}

.PrésentationEquipe{
    margin: 20px ;
    text-align: left;
    font-size: 20px;
    color: white;
}

